<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center" *ngIf="user">Olá {{ user?.name }}</h1>

  <ion-list>
    <ion-item *ngFor="let task of tasks | async">
      <ion-label>
        <h2>{{task.title}}</h2>
        <p>{{task.description}}</p>
        <ion-text *ngIf="task.done" color="success">Completa</ion-text>
        <ion-text *ngIf="!task.done" color="danger">Pendente</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
